<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= indexInfo.title %>
    </title>
</head>

<body>
    <h1>
        <%= indexInfo.helloInfo %>
    </h1>
    <div class="stu-info">
        <ul>
            <% for(var i=0;i<studentList.length;i++){ %>
                <li>
                    <span>学生姓名：
                        <%= studentList[i].name %>
                    </span>
                    <span>学生性别：
                        <%= studentList[i].sex %>
                    </span>
                    <span>学生年龄：
                        <%= studentList[i].age %>
                    </span>
                </li>
                <% } %>
        </ul>
    </div>
</body>

</html>